USE [StoreSample]
GO
/****** Object:  StoredProcedure [dbo].[GetNextOrderPrediction]    Script Date: 7/26/2025 3:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Crear el procedimiento almacenado para predecir la próxima fecha de orden
ALTER PROCEDURE [dbo].[GetNextOrderPrediction]
@CustomerName NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    -- CTE para calcular diferencias entre fechas
    WITH OrderDifferences AS (
        SELECT 
            O.custid,
            C.companyname AS [CustomerName],
            O.orderdate AS [OrderDate],
            LAG(O.orderdate) OVER (PARTITION BY O.custid ORDER BY O.orderdate) AS [PreviousOrderDate],
            DATEDIFF(DAY, LAG(O.orderdate) OVER (PARTITION BY O.custid ORDER BY O.orderdate), O.orderdate) AS [DaysBetweenOrders]
        FROM 
            Sales.Orders O
        INNER JOIN 
            Sales.Customers C ON O.custid = C.custid
        WHERE O.orderdate IS NOT NULL
    )

    SELECT
        OD.custid,
        OD.CustomerName,
        MAX(OD.OrderDate) AS LastOrderDate,
        ROUND(AVG(OD.DaysBetweenOrders), 0) AS AverageDaysBetweenOrders,
        DATEADD(DAY, ROUND(AVG(OD.DaysBetweenOrders), 0), MAX(OD.OrderDate)) AS NextPredictedOrder
    FROM OrderDifferences OD
    WHERE 
        (@CustomerName IS NULL OR OD.CustomerName LIKE '%' + @CustomerName + '%')
        AND OD.PreviousOrderDate IS NOT NULL
    GROUP BY OD.custid, OD.CustomerName
    ORDER BY OD.CustomerName ASC;
END;

EXEC [GetNextOrderPrediction]